<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="loader.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.490.0/aws-sdk.min.js"></script>
        <link rel="icon" type="image/png" href="favicon.ico">

        <style>
            #playerContainer,
            .player {
                width: 100%;
                height: auto;
                min-height: 400px;
                background-color: black;
                outline: none;
            }
            .vjs-big-play-button {
                display: none !important;
            }
        </style>

        <title>Amazon Kinesis Video Streams Media Viewer</title>
    </head>
    <body>
        <div class="container mb-3">
            <div class="row mt-3 mb-3">
                <div class="col-md-12">
                    <h1>Amazon Kinesis Video Streams Test</h1>
                </div>
            </div>
            <div class="row loader"></div>
            <div class="main">
                <div class="row">
                    <div class="col-md-4">
                        <button id="start" type="submit" class="btn btn-primary">Start Playback</button>
                    </div>
                    <div class="col-md-8">
                        <div id="playerContainer">
                        {% if playerName == "VideoJS" %}
                            <h3>HLS - VideoJS</h3>
                            <video id="videojs" class="player video-js vjs-default-skin" controls autoplay></video>
                            <link rel="stylesheet" href="https://vjs.zencdn.net/6.6.3/video-js.css">
                            <script src="https://vjs.zencdn.net/6.6.3/video.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.14.1/videojs-contrib-hls.js"></script>
                        {% else %}
                            <h2>DASH player</h3>
                            <video id="dashjs" class="player" controls autoplay=""></video>
                            <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>

            $('#start').click(function() {
                var protocol = "{{ protocolName }}";
                var streamName = "{{ streamname }}";
                var options = {
                    accessKeyId: "{{ accessKeyId }}",
                    secretAccessKey: "{{ secretAccessKey }}",
                    sessionToken: $('#sessionToken').val() || undefined,
                    region: "{{ region }}",
                    endpoint: $('#endpoint').val() || undefined
                }
                var kinesisVideo = new AWS.KinesisVideo(options);
                var kinesisVideoArchivedContent = new AWS.KinesisVideoArchivedMedia(options);

                console.log('Fetching data endpoint');
                kinesisVideo.getDataEndpoint({
                    StreamName: streamName,
                    APIName: protocol === 'DASH' ? "GET_DASH_STREAMING_SESSION_URL" : "GET_HLS_STREAMING_SESSION_URL"
                }, function(err, response) {
                    if (err) { return console.error(err); }
                    console.log('Data endpoint: ' + response.DataEndpoint);
                    kinesisVideoArchivedContent.endpoint = new AWS.Endpoint(response.DataEndpoint);
                    var consoleInfo = 'Fetching ' + protocol + ' Streaming Session URL';
                    console.log(consoleInfo);

                    if (protocol === 'DASH') {
                        kinesisVideoArchivedContent.getDASHStreamingSessionURL({
                            StreamName: streamName,
                            PlaybackMode: "LIVE",
                            DASHFragmentSelector: {
                                FragmentSelectorType: $('#fragmentSelectorType').val()
                            },
                            DisplayFragmentTimestamp: $('#displayFragmentTimestamp').val(),
                            DisplayFragmentNumber: $('#displayFragmentNumber').val(),
                            MaxManifestFragmentResults: parseInt($('#maxResults').val()),
                            Expires: parseInt($('#expires').val())
                        }, function(err, response) {
                            if (err) { return console.error(err); }
                            console.log('DASH Streaming Session URL: ' + response.DASHStreamingSessionURL);
                            var video_player = "{{ playerName }}"
                            if(video_player === 'DASH.js') {
                                var playerElement = $('#dashjs');
                                playerElement.show();

                                var player = dashjs.MediaPlayer().create();
                                console.log('Created DASH.js Player');

                                player.initialize(document.querySelector('#dashjs'), response.DASHStreamingSessionURL, true);
                                console.log('Starting playback');
                                console.log('Set player source');
                            }
                        });
                    } else {
                        kinesisVideoArchivedContent.getHLSStreamingSessionURL({
                            StreamName: streamName,
                            PlaybackMode: "LIVE",
                            HLSFragmentSelector: {
                                FragmentSelectorType: $('#fragmentSelectorType').val(),
                            },
                            ContainerFormat: $('#containerFormat').val(),
                            DiscontinuityMode: $('#discontinuityMode').val(),
                            DisplayFragmentTimestamp: $('#displayFragmentTimestamp').val(),
                            MaxMediaPlaylistFragmentResults: parseInt($('#maxResults').val()),
                            Expires: parseInt($('#expires').val())
                        }, function(err, response) {
                            if (err) { return console.error(err); }
                            console.log('HLS Streaming Session URL: ' + response.HLSStreamingSessionURL);
                            var video_player = "{{ playerName }}"
                            if (video_player === 'VideoJS') {
                                var playerElement = $('#videojs');
                                playerElement.show();
                                var player = videojs('videojs');
                                console.log('Created VideoJS Player');
                                player.src({
                                    src: response.HLSStreamingSessionURL,
                                    type: 'application/x-mpegURL'
                                });
                                console.log('Set player source');
                                player.play();
                                console.log('Starting playback');
                            }
                        });
                    }
                });

                $('.player').hide();
            });
        </script>
    </body>
</html>